:root {
    --main: #B3B2D2;
    --ui: #629460;
    --accent: #F5EBE0;
    --altAc: #053225;
    --ihardlyknowher: #454372;
    --nav: #000080;
}

@font-face {
    font-family: 'Work Sans';
    src: url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600;700&display=swap');
}

body {
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    
}

header {
    color: var(--accent);
    background-color: var(--ihardlyknowher);
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

h1 {
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 2.5em;
    margin: 0px;
}

a:link {
    color: var(--accent);
}
a:visited {
    color: var(--accent);
}
a:hover {
    color: var(--main);
}

#image {
    z-index: 1;
}

#border {
    z-index: 2;
}

#text {
    z-index: 3;
}

figure { 
    aspect-ratio: 1/1;
    max-height: 100%;
    position: relative;
    
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
}

.relative-full { position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;}

#canvases {
    border: 10px solid var(--ihardlyknowher);
}

#button-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: var(--ihardlyknowher);
    color: var(--accent);
    border: 2px solid var(--main);
    width: 32%;
    border-radius: 0.2rem;
    cursor: pointer;

    transition: 0.5s;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
    background-color: var(--main);
    color: var(--ihardlyknowher);
}

.hidden {
    display: none;
}

#imgOverlay {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#btn-style-label {
    background-color: var(--ihardlyknowher);
    color: var(--accent);
    padding: 0.5rem;
    font-family: "Work Sans";
    font-size: larger;
    border-radius: 0.2rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: 0.5s;
}

#btn-style-label:hover {
    background-color: var(--main);
    color: var(--ihardlyknowher);
}

#userFile {
    display: none;
}

#file-chosen{
    margin-left: 0.3rem;
    font-family: sans-serif;
}

#colorpicker {
    visibility: hidden;
}

#styledPicker {
    cursor: pointer;
    border-radius: 0.5rem;
    border-color: var(--main);
    border-style: outset;
    background-color: black;
    width: 8vh;
    height: 4vh;
    display: inline-block;
}

footer {
    color: var(--accent);
    background-color: var(--ihardlyknowher);
    text-align: center;
    padding-bottom: 1vh;
    padding-top: 1vh;
}

h3 {
    font-family: "Work Sans";
}

#colors {
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#colors h3 {
    color: var(--ihardlyknowher);
}
#textTop {
    display: flex;
    flex-direction: row;
}
#textBot {
    display: flex;
    flex-direction: row;
}
#downloadButton {
    padding-bottom: 1vh;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.download {
    background-color: var(--ihardlyknowher);
    color: var(--accent);
    border: 2px solid var(--main);
    border-radius: 0.2rem;
    cursor: pointer;
    width: 100%;
    transition: 0.5s;
}
.download:disabled {
    pointer-events: none;
}
  
.download:hover {
    background-color: var(--main);
    color: var(--ihardlyknowher);
}

#interface{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#overlays {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#textOverlay h4{
    margin: 0;
    font-family: "Work Sans";
    color: var(--ihardlyknowher);
}
#textTop {
    display: flex;
    align-items: center;
}
#textBot {
    display: flex;
    align-items: center;
}